.Home
  background rgba(black, 0.03)
  padding 20px 40px
  padding-top 5px
  border-radius 5px
  border solid 1px rgba(black, 0.08)

  .image-moon
    bg-image("/images/moon.jpg", 600, 451)
    color white
    padding 20px
    border-radius 15px
    margin-top 40px
    margin-bottom 40px
    box-sizing border-box
    font-weight bold
